Curve Fitting to Data Source {{dataSource}}
===========================================

The following sample from Data Set {{dataSet}} is best fit by curve {{curve}}.

| x     | y       |
+------:|--------:|
{{#data}}
| {{x}} | {{ y }} |
{{/data}}
+-------+---------+
