<!html>
<html>
<head>
  <title>${title}</title>
  <link rel="stylesheet" type="text/css" href="${_resourcedir}/style.css"/>
  <link rel="stylesheet" type="text/css" href="${_resourcedir}/nv.d3.css"/>
  <script src="${_resourcedir}/d3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="${_resourcedir}/nv.d3.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h1>${title}</h1>

<div id="plot">
  <svg/>
</div>

<table>
<thead>
<tr><th>Year</th><th>Average PPM</th></tr>
</thead>
<tbody id="history">
${history}
</tbody>
<tbody id="projection">
${projection}
</tbody>
</table>

<script type="text/javascript" src="${_resourcedir}/chart.js"></script>
</body>
</html>
