
body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 0.5em;
    text-align: center;
}

#plot {
    height: 24em;
    padding-left: 4em;
    padding-right: 8em;
    padding-bottom: 2em;
}